
table.events-calendar {
    width: 100%;
    border: none;
}

/* Month Table */
table.events-calendar td.date {
    white-space: nowrap;
    font-size: 0.8em;
    text-align: left;
    padding: .2em;
    vertical-align: top;
    border-right: none;
    font-weight: bold;
}
table.events-calendar td.date.has-events {
    padding-top: 0.8em;
}
table.events-calendar td.event {
    width:  99%;
    padding: 0;
    border-left: none;
}
table.events-calendar tr.weekend {
    background-color: #88888833;
}
table.events-calendar tr.day > td {
    border-left: none;
    border-right: none;
}

/* Single Event Table */
table.events-calendar table.event {
    cursor: pointer;
    margin-bottom: .4em;
    margin-top: .5em;
    border: none;
}
table.events-calendar table.event td {
    padding: 0;
    border: none;
}
table.events-calendar table.event td.time {
    font-size: 0.8em;
    white-space: nowrap;
    padding-right: 0.2em;
    vertical-align: top;
    padding-top: .2em;
}
table.events-calendar table.event td.title {
    font-weight: bold;
}
table.events-calendar table.event td.title, td.organizer {
    word-break: break-word;
    width: 99%;
}

table.events-calendar table.event.notPublic {
    color: blue;
}

 /* Event-Form */
.evtcal-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100% !important;
    z-index: -200;
    margin: 1em;
    padding: 1em;
    background-color: #223322;
    color: white;
    box-shadow: 0 0 20px 0px #33333333;
    overflow: auto;
}

.evtcal-modal-wrapper .close {
    position: fixed;
    top: 1em;
    right: 1em;
    color: white;
    font-size: 2em;
    cursor: pointer;
    z-index: 1000;
    font-family: sans;
}

.evtcal-modal-wrapper .form-popup, .evtcal-modal-wrapper .show-event-content {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.evtcal-modal-wrapper form input:invalid {
    background-color: #faa;
}
.evtcal-modal-wrapper form input:required {
    background-color: #ffa;
}
.evtcal-modal-wrapper form label {
    font-weight: bold;
}

.evtcal-modal-wrapper #loading {
    opacity: 0;
}
.evtcal-modal-wrapper #content {
    padding-top: 2em;
}

.pulse-animation {
    animation: evtcal-pulse 2s infinite;
}
@keyframes evtcal-pulse {
    0% {
        opactiy: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Floating Buttons */
.evtcal-floating-button-container {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 150;
}

.evtcal-floating-button-container .evtcal-floating-button {
    box-shadow: 5px 5px 20px #33333333;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.evtcal-floating-button-container .evtcal-floating-button.first {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    line-height: 64px;

    right: 8px;
}

.evtcal-floating-button-container .evtcal-floating-button.other {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    line-height: 48px;

    right: 16px;

    font-size: .8em;
}

.evtcal-floating-button-container .evtcal-floating-button span::before {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.evtcal-floating-button-container .evtcal-floating-button span.addEvent::before {
    content: "+";
}
.evtcal-floating-button-container .evtcal-floating-button span.scrollToToday::before {
    content: "⇪";
}

/* Categories */
p.evtcal-categories a.evtcal-category-label {
    padding: 0.3em;
    margin: 0 0.5em 0.5em 0;
    line-height: 2;
    white-space: nowrap;
    border-radius: .3em;
}
p.evtcal-categories a.evtcal-category-label.evtcal-active {
    font-weight: bold;
}
p.evtcal-categories a.evtcal-category-label.evtcal-inactive {
    opacity: 0.5;
}
a.evtcal-category-label:hover {
    text-decoration: none;
}